{% schema %}
{
  "name": "Alternating Words",
  "settings": [
    {
      "type": "text",
      "id": "main_text",
      "label": "Testo principale",
      "default": "Il sapore dello zucchero, senza"
    },
    {
      "type": "text",
      "id": "word1",
      "label": "Parola 1",
      "default": "retrogusto amaro"
    },
    {
      "type": "text",
      "id": "word2",
      "label": "Parola 2",
      "default": "calorie"
    },
    {
      "type": "text",
      "id": "word3",
      "label": "Parola 3",
      "default": "sensi di colpa"
    },
    {
      "type": "number",
      "id": "interval",
      "label": "Intervallo in secondi",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Alternating Words",
      "category": "Text"
    }
  ]
}
{% endschema %}

// Refactor Codex - 07/06/2025
{{ 'alternating-words.css' | asset_url | stylesheet_tag }} {# Codex #}
<div id="sugar-text">
  <h2>{{ settings.main_text }}</h2>
  {{ settings.main_text }} <span id="alternating-words"></span>
</div>
<script src="{{ 'alternating-words.js' | asset_url }}" defer></script> {# Codex #}
